
 <div style="padding-bottom: 100px;">
  <div class="container" data-controller="sweet-alert">
    <div class="row">

      <div class= "card-show-qr">
      <h1>Finalize & Rate Exchange</h1>
      <h2>Your selected cards</h2>
        <% @user_cards.each do |card_interest| %>
          <%= image_tag(card_interest.card.image) %>
        <% end %>

      <% if @exchange.status == "pending" %>
        <h2>Scan this QR code to finalize the exchange</h2>
        <%= image_tag(url_for(@exchange.qrcode)) %>
      <% end %>
      <% if @exchange.status == "finished" %>
        <div class="review" data-sweet-alert-target="AddNewCard"   data-action="submit->sweet-alert#fire">
          <h2>Leave a Super Review !!</h2>
          <%= simple_form_for [@exchange, @review] do |f| %>
            <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS%>
            <%= f.submit class: "button",value: "Finish" %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
