<div style="padding-bottom: 150px;
            margin-top: 100px;">
  <%= link_to root_path, class: "arrow" do %>
      <%= image_tag asset_path('back-arrow.png') %>
  <% end %>
  <div class="container-show-exchange">

    <h2>Exchange proposed by <%= @exchange.dealer.first_name %></h2>
    <div class="card-product">
        <%@exchange.cards_as_dealer.each do |card_interest|%>
          <%=image_tag (card_interest.card.image) %>
          <div class="card-product-infos">
            <p><%= card_interest.card.name %></p>
            <p><%= card_interest.card.price %> Euros</p>
            <p><%= card_interest.card.rarity %></p>
          <% end %>
      </div>
    </div>
    <h2>Échange proposé par <%= @exchange.receiver.first_name %></h2>
          <% if @exchange.cards_as_receiver.any? %>
      <div>
        <div class="card-product">
          <% @exchange.cards_as_receiver.each do |card_interest| %>
          <%= image_tag(card_interest.card.image) %>
          <div class="card-product-infos">
            <p><span><%= card_interest.card.name %></span></p>
            <p><%= card_interest.card.price %> Euros</p>
            <p><%= card_interest.card.rarity %></p>
          <% end %>
          </div>
      <% end %>
  </div>

<%# Lien pour selection de cartes du receiver dans la collection du dealer %>
  <% if current_user == @exchange.receiver && !@exchange.card_interests.exists?(user: @exchange.receiver) %>
    <%= link_to "Sélectionner des cartes dans la collection de #{@exchange.dealer.first_name}",
      collection_user_path(@exchange.dealer, exchange_id: @exchange.id) %>
  <% end %>
</div>
</div>
