<div style="padding-bottom: 100px;">
  <div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    >
    <h2><%= @chatroom.name %></h2>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div>
      <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}%>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
    </div>
    <%# lien qui renvoie vers la show du qrcode %>
    <%= link_to "Show QRCode", qrcode_exchange_path(@chatroom.exchange), class: "btn btn-primary" %>

  </div>
</div>
