
  <%= form_with url: url, method: method, class: "form-filter-update" do |form| %>
  <div class="display-cards">
    <% exchangeable_cards.each do |user_card| %>
      <div class="card-dashboard">
        <%= link_to card_path(user_card.card) do %>
          <%= image_tag user_card.card.image, class: "pokemon-cards" %>
        <% end %>
        <div class="select-card">
          <%= form.check_box "card_interest_ids[]", { id: "card_interest_#{user_card.id}" }, user_card.card.id, nil %>
          <%= form.label "card_interest_#{user_card.id}", 'Select', class: "label-filter" %>
        </div>
      </div>
    <% end %>
    <%= form.submit "Validate choice", class: "update-card" %>
  </div>
  <% end %>
</div>
