<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
            <%= link_to image_tag("shop.png"), current_exchanges_dashboards_path, class: "nav-link" %>
            <%= link_to image_tag("home2.png"), root_path, class: "nav-link" %>
            <div class="navbar-pokeball"><%= link_to image_tag("pokeball-navbar.png"), "#",data:{bs_toggle:"modal", bs_target:"#searchModal"}, class: "pokeball" %></div>
            <%= link_to image_tag("email2.png"), "#", class: "nav-link" %>
            <% if user_signed_in? %>
              <%=  link_to image_tag(current_user.avatar), dashboard_path, class: "avatar-navbar" %>
            <% else %>
            <%= link_to image_tag("avatar-pixel.png"), new_user_session_path, class: "nav-link" %>
            <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_with url: search_cards_path, method: :get, class: "d-flex" do %>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="searchModalLabel">Type a Pokemon name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "..."
            %>
        </div>
        <div class="modal-footer">
          <h1><%= submit_tag "Search", name: "", class: "btn btn-primary" %><h1>
        </div>
      </div>
    <% end %>
  </div>
</div>
