<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
            <%= link_to image_tag("collection.png"), "#", class: "nav-link" %>
            <%= link_to image_tag("Search.png"), "#", data:{bs_toggle:"modal", bs_target:"#searchModal"} %>
            <%= link_to image_tag("pokeballnavbar.png"), "#", class: "pokeball" %>
            <%= link_to image_tag("Envelope.png"), "#", class: "messages" %>
            <% if user_signed_in? %>
              <%# <%=  link_to image_tag("sacha-avatar.png"), dashboard_path %>
              <%= current_user.nickname %>
            <% else %>
              <%= link_to image_tag("User.png"), new_user_session_path, class: "nav-link" %>
            <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_with url: search_cards_path, method: :get, class: "d-flex" do %>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="searchModalLabel">Type a Pokemon name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "..."
            %>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
