<div style="padding-bottom: 100px;">
  <div class="container-home">
    <div class="banner">
      <div class="pikachu-logo"></div>
    </div>

<%# Afficher les nombre d'exchanges sur la home %>
    <% if user_signed_in? %>
      <% if @user_exchanges_as_receiver > 0 %>
        <%= link_to current_exchanges_dashboards_path do %>
          <button class="notification">⚠ <%= pluralize(@user_exchanges_as_receiver,  "proposal") %></button>
        <% end %>
      <% end %>

      <% if @user_exchanges_as_dealer > 0 %>
        <%= link_to current_exchanges_dashboards_path do %>
          <button class="notification">⚠ <%= pluralize(@user_exchanges_as_dealer,  "answer") %></button>
        <% end %>
      <% end %>
    <% end %>

    <%# <a href="#" class="nes-badge">
    <span class="is-warning">great</span>
    </a> %>

    <% if user_signed_in? && @favorite_cards.present? %>
      <div class="title-home">
        <div class="yellow-star"></div>
        <p class="text-ul"><span>Favorites</span></p>
      </div>
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner a-home">
          <% @favorite_cards.sample(3).each_with_index do |card, index| %>
            <div class="carousel-item <%="active" if index == 0%>">
              <%= link_to card_path(card.card) do %>
                <%= image_tag(card.card.image, class: "cards-pokemon") %>
              <% end %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>

    <div class="title-home">
    <div class="yellow-star"></div>
      <p class="text-ul"><span>Top Trend</span></p>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner a-home">
        <% @cards.sample(3).each_with_index do |card, index| %>
          <div class="carousel-item <%="active" if index == 0%>">
            <%= link_to card_path(card) do %>
              <%= image_tag(card.image, class: "cards-pokemon") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="title-home">
    <div class="yellow-star"></div>
      <p class="text-ul"><span>Near me</span></p>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner a-home">
        <% @cards.sample(3).each_with_index do |card, index| %>
          <div class="carousel-item <%="active" if index == 0%>">
            <%= link_to card_path(card) do %>
              <%= image_tag(card.image, class: "cards-pokemon") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
