<div style="padding-bottom: 100px;">
  <div class="card-profil">
    <%= link_to (request.path == dashboard_path ? root_path : dashboard_path), class: "back-arraw" do %>
      <%= image_tag asset_path('back-arraw.png') %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, data: {turbo_method: :delete} do %>
      <%= image_tag asset_path('deconnexion.png'), class: "deconect" %>
    <% end %>
    <%= image_tag asset_path('sacha-avatar.png'), class: "avatar-dashboard" %>
    <h1><%= @user.first_name %></h1>
    <p><%= @total_cards %> cards</p>
  </div>

  <div class="title-collection">
    <h1>My collection - <%= @total_cards %> cards</h1>
  </div>

<%# Pour filtrer et voir seulement les cartes echangeables ou non %>
  <div class="filtre-dashboard">
    <%= form_with url: user_user_cards_path(current_user), class: "form-filter", method: :get do |form| %>
      <%= form.check_box :filter, { checked: params[:filter] == 'exchangeable', class: "checkbox" }, 'exchangeable', nil %>
      <%= form.label :filter, 'Exchangeable Cards', for: 'filter_exchangeable', class: "label-filter" %>
      <%= form.submit 'Filter', class: "btn-filter" %>
    <% end %>
  </div>

<%# Pour afficher les cartes favorites de l'utilisateur %>
  <div class="filtre-dashboard">
    <%= form_with url: user_user_cards_path(current_user), class: "form-filter", method: :get do |form| %>
      <%= form.check_box :filter, { checked: params[:filter] == 'favorite', class: "checkbox" }, 'favorite', nil %>
      <%= form.label :filter, 'Favorite Cards', for: 'filter_favorite', class: "label-filter" %>
      <%= form.submit 'Filter', class: "btn-filter" %>
    <% end %>
  </div>



<%# Pour afficher les cartes de l'utilisateur %>
<div class="display-cards">
  <% @user_cards.each do |user_card|  %>

    <div class="card-dashboard">

      <%# Afficher la carte, lien vers la show au clic %>
      <%= link_to card_path(user_card.card) do %>
        <%= image_tag user_card.card.image, class: "pokemon-cards" %>
      <% end %>

      <%# Pour retirer une carte de la collection %>
      <%= form_with model: [current_user, user_card], url: user_user_card_path(current_user, user_card), method: :delete do |form| %>
        <%= form.submit "Remove", :onclick => "return confirm('Are you sure ?')", class: "delete-card" %>
      <% end %>



      <%# Pour cocher une carte comme échangeable %>
      <%= form_with model: [current_user, user_card], class: "form-filter-update", method: :patch do |form| %>
        <%= form.check_box :exchangeable %>
        <%= form.label :exchangeable, 'Exchange', class: "label-filter" %>
        <%= form.submit "Update", class: "update-card" %>
      <% end %>

      <%# Pour ajouter une carte a la liste des favoris %>
      <%= form_with model: [current_user, user_card], class: "form-filter-update", method: :patch do |form| %>
        <%= form.check_box :favorite %>
        <%= form.label :favorite, 'Favorite', class: "label-filter" %>
        <%= form.submit "Update", class: "update-card" %>
      <% end %>

    </div>


  <% end %>
  </div>
</div>
