<div style="padding-bottom: 100px;">
  <div class="card-profil">
    <%= link_to (request.path == dashboard_path ? root_path : dashboard_path), class: "back-arraw" do %>
      <%= image_tag asset_path('back-arraw.png') %>
    <% end %>
    <%= image_tag asset_path('sacha-avatar.png'), class: "avatar-dashboard" %>
    <h1><%= @user.first_name %></h1>
    <p><%= @total_cards %> cards</p>
    <%= image_tag asset_path('enveloppe-white.png'), class: "enveloppe" %>
  </div>

  <div class="title-last-captured">
    <h1>Last captured cards</h1>
  </div>


  <div class="display-cards">
    <% @recent_cards.each do |card|  %>
      <%= link_to card_path(card) do %>
        <%= image_tag card.image, class: "pokemon-cards" %>
      <% end %>
    <% end %>
  </div>
</div>
