<div style="marging-bottom: 150px;">
  <div class="card-profil">
    <%= link_to (request.path == dashboard_path ? root_path : dashboard_path), class: "back-arraw" do %>
      <%= image_tag asset_path('back-arraw.png') %>
    <% end %>
    <%= image_tag asset_path('sacha-avatar.png'), class: "avatar-dashboard" %>
    <h1><%= @user.first_name %></h1>
    <p><%= @total_cards %> cards</p>
    <%= image_tag asset_path('enveloppe-white.png'), class: "enveloppe" %>
  </div>

  <div class="title-wish-list">
    <h1>My wish list</h1>
  </div>
    <div class="display-cards">
      <% @cards_wished.each do |card| %>
  <%= link_to card.ready_for_exchange_collectors.count > 0 ? collectors_card_path(card) : card_path(card) do %>
    <%= image_tag card.image, class: "pokemon-cards" %>
      <% if card.ready_for_exchange_collectors.count <= 1 %>
        <h2>Exchange Ready (<%= card.ready_for_exchange_collectors.count %>)</h2>
      <% else %>
        <h2>Exchanges Ready (<%= card.ready_for_exchange_collectors.count %>)</h2>
      <% end %>
      <% end %>
    <% end %>
  </div>
</div>
