<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('logo.png') %>
    <title>Pokeswype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="icon-star"></div>
      <div class="pokeball-1"></div>
      <div class="pokeball-2"></div>
      <%= render "shared/flashes" %>

      <%= yield %>
    <%= render "shared/navbar"%>
  </body>
</html>
